In [6]:
# This code was inpsired by this YouTube video: https://www.youtube.com/watch?v=MpIi4HtCiVk
import nltk
from nltk import sent_tokenize, word_tokenize
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import stopwords
import pandas as pd
import numpy as np
import re
import snscrape.modules.twitter as sntwitter

In [2]:
import snscrape.modules.twitter as sntwitter

#code inpsired by: https://github.com/mehranshakarami/AI_Spectrum/blob/main/2022/snscrape/tweets.py

query = "(from:jeremycorbyn) until:2020-01-01 since:2019-01-01"
tweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        tweets.append([tweet.date, tweet.username, tweet.content])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_1422/426117422.py:9: FutureWarning: username is deprecated, use user.username instead
  tweets.append([tweet.date, tweet.username, tweet.content])

In [3]:
CorbynTweets = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])
print(CorbynTweets)

                          Date          User  \
0    2019-12-31 09:48:04+00:00  jeremycorbyn
1    2019-12-30 11:49:45+00:00  jeremycorbyn
2    2019-12-29 13:42:57+00:00  jeremycorbyn
3    2019-12-29 12:01:00+00:00  jeremycorbyn
4    2019-12-29 11:15:43+00:00  jeremycorbyn
...                        ...           ...
1858 2019-01-02 09:45:50+00:00  jeremycorbyn
1859 2019-01-02 08:59:59+00:00  jeremycorbyn
1860 2019-01-02 06:59:00+00:00  jeremycorbyn
1861 2019-01-01 14:17:31+00:00  jeremycorbyn
1862 2019-01-01 13:41:13+00:00  jeremycorbyn

                                                  Tweet
0     We’re up for the fight. To protect what we hol...
1     We're not broke, we're being robbed. \n\nhttps...
2     How terrible that Chanukah started with a mess...
3     The far right is on the rise, emboldened by a ...
4     Boris Johnson pledged in the election that the...
...                                                 ...
1858  Today the latest Tory rail fares increase kick...
1859  Today rail fares are increasing by more than 3...
1860  Today rail fares across the country are rising...
1861  Happy New Year.\n\nIn 2019, let's rebuild Brit...
1862  Thinking of those injured in Manchester last n...

[1863 rows x 3 columns]

In [4]:
query = "(from:benshapiro) until:2020-01-01 since:2019-01-01"
tweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        tweets.append([tweet.date, tweet.username, tweet.content])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_1422/424202787.py:5: FutureWarning: username is deprecated, use user.username instead
  tweets.append([tweet.date, tweet.username, tweet.content])

In [5]:
ShapiroTweets = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])
print(ShapiroTweets)

                          Date        User  \
0    2019-12-31 07:34:32+00:00  benshapiro
1    2019-12-31 07:27:00+00:00  benshapiro
2    2019-12-31 07:24:11+00:00  benshapiro
3    2019-12-31 07:23:26+00:00  benshapiro
4    2019-12-31 07:21:46+00:00  benshapiro
...                        ...         ...
3677 2019-01-01 01:27:27+00:00  benshapiro
3678 2019-01-01 00:43:34+00:00  benshapiro
3679 2019-01-01 00:42:26+00:00  benshapiro
3680 2019-01-01 00:41:53+00:00  benshapiro
3681 2019-01-01 00:28:53+00:00  benshapiro

                                                  Tweet
0     So, here are the updated rankings:\nI must now...
1     As far as the critique that Luke and Vader bec...
2     So here's what I'm saying: I hated "Force Awak...
3     They still should have just fast-forwarded the...
4     That doesn't mean the new trilogy was necessar...
...                                                 ...
3677  Wait until he gets going about the invention a...
3678           Actually, do a recipe from Pow Wow Chow!
3679                  Now do AOC’s instant pot recipes!
3680  She’s chilling in Cedar Rapids! https://t.co/M...
3681             @realDailyWire https://t.co/6xdNU1PX2B

[3682 rows x 3 columns]

In [6]:
query = "(from:Nigel_Farage) until:2020-01-01 since:2019-01-01"
tweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        tweets.append([tweet.date, tweet.username, tweet.content])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_1422/684424307.py:5: FutureWarning: username is deprecated, use user.username instead
  tweets.append([tweet.date, tweet.username, tweet.content])

In [7]:
FarageTweets = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])
print(FarageTweets)

                          Date          User  \
0    2019-12-31 11:53:39+00:00  Nigel_Farage
1    2019-12-28 14:57:15+00:00  Nigel_Farage
2    2019-12-27 10:57:26+00:00  Nigel_Farage
3    2019-12-24 10:15:44+00:00  Nigel_Farage
4    2019-12-22 15:04:12+00:00  Nigel_Farage
...                        ...           ...
1008 2019-01-07 12:37:15+00:00  Nigel_Farage
1009 2019-01-07 09:49:42+00:00  Nigel_Farage
1010 2019-01-06 09:58:56+00:00  Nigel_Farage
1011 2019-01-05 12:48:40+00:00  Nigel_Farage
1012 2019-01-02 18:30:00+00:00  Nigel_Farage

                                                  Tweet
0     One of the leading cheerleaders of 'Project Fe...
1     It's time for proper investment in our regions...
2     The EU's unelected leader is already pushing f...
3     Read this astonishing obituary and remember wh...
4     "The stage for Boris was built long ago,” says...
...                                                 ...
1008  Leave Means Leave stands ready for the battle ...
1009                       Back on @LBC tonight at 6pm!
1010  People’s Vote lied about the number of support...
1011  Maybe, just maybe, @GaryLineker should stick t...
1012  I’ll be back on the @LBC airwaves from January...

[1013 rows x 3 columns]

In [8]:
query = "(from:OwenJones84) until:2020-01-01 since:2019-01-01"
tweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        tweets.append([tweet.date, tweet.username, tweet.content])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_1422/3371404533.py:5: FutureWarning: username is deprecated, use user.username instead
  tweets.append([tweet.date, tweet.username, tweet.content])

In [9]:
JonesTweets = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])
print(JonesTweets)

                          Date         User  \
0    2019-12-31 18:10:55+00:00  OwenJones84
1    2019-12-31 18:05:32+00:00  OwenJones84
2    2019-12-31 17:54:53+00:00  OwenJones84
3    2019-12-31 17:51:20+00:00  OwenJones84
4    2019-12-31 16:41:34+00:00  OwenJones84
...                        ...          ...
7838 2019-01-01 02:05:46+00:00  OwenJones84
7839 2019-01-01 01:52:45+00:00  OwenJones84
7840 2019-01-01 01:52:02+00:00  OwenJones84
7841 2019-01-01 01:51:52+00:00  OwenJones84
7842 2019-01-01 00:20:40+00:00  OwenJones84

                                                  Tweet
0                             @TahaMArvas yes yes it is
1     It has been an absolute shitter of a year, in ...
2     @Dryad90 hairdresser's away until 6th January,...
3     #2009vs2019 \n\nTen years on and here I am, st...
4     The most predictable thing in the world is ant...
...                                                 ...
7838  @EssexCanning He just wants in on the sex, tha...
7839  @EssexCanning Stephen you’ll destroy all credi...
7840                             @a_leesha1 Love you ❤️
7841                     @burg3y Is it my fashion sense
7842  I’m a soppy bastard at the best/worst of times...

[7843 rows x 3 columns]

In [10]:
query = "(from:BernieSanders) until:2020-01-01 since:2019-01-01"
tweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        tweets.append([tweet.date, tweet.username, tweet.content])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_1422/3634706623.py:5: FutureWarning: username is deprecated, use user.username instead
  tweets.append([tweet.date, tweet.username, tweet.content])

In [11]:
SandersTweets = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])
print(SandersTweets)

                          Date           User  \
0    2019-12-31 21:10:32+00:00  BernieSanders
1    2019-12-31 19:11:16+00:00  BernieSanders
2    2019-12-31 18:38:11+00:00  BernieSanders
3    2019-12-31 18:06:52+00:00  BernieSanders
4    2019-12-31 17:14:03+00:00  BernieSanders
...                        ...            ...
3065 2019-01-01 23:18:44+00:00  BernieSanders
3066 2019-01-01 22:04:46+00:00  BernieSanders
3067 2019-01-01 21:06:04+00:00  BernieSanders
3068 2019-01-01 19:29:28+00:00  BernieSanders
3069 2019-01-01 18:19:09+00:00  BernieSanders

                                                  Tweet
0     We cannot continue to act as though it is norm...
1     Everybody who knows me knows I hate asking for...
2     Don't let anyone tell you that you cannot make...
3     Friends, we are closing in our goal of 5 milli...
4     If you would like to make the pharmaceutical i...
...                                                 ...
3065  If we are serious about reducing income and we...
3066  We must end the absurdity of the United States...
3067  As Frederick Douglass reminded us: "If there i...
3068  When we talk about justice, we have to underst...
3069  Jane and I want to take this opportunity to wi...

[3070 rows x 3 columns]

In [12]:
query = "(from:TiceRichard) until:2020-01-01 since:2019-01-01"
tweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        tweets.append([tweet.date, tweet.username, tweet.content])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_1422/2352529673.py:5: FutureWarning: username is deprecated, use user.username instead
  tweets.append([tweet.date, tweet.username, tweet.content])

In [13]:
TiceTweets = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])
print(TiceTweets)

                         Date         User  \
0   2019-12-31 23:12:33+00:00  TiceRichard
1   2019-12-31 22:54:20+00:00  TiceRichard
2   2019-12-28 20:26:39+00:00  TiceRichard
3   2019-12-21 08:28:54+00:00  TiceRichard
4   2019-12-20 20:28:11+00:00  TiceRichard
..                        ...          ...
680 2019-01-03 16:12:26+00:00  TiceRichard
681 2019-01-02 11:52:00+00:00  TiceRichard
682 2019-01-01 22:04:54+00:00  TiceRichard
683 2019-01-01 21:31:55+00:00  TiceRichard
684 2019-01-01 21:25:02+00:00  TiceRichard

                                                 Tweet
0    One of the bravest, most principled people I h...
1    Wishing everyone a Happy Brexit Year ahead! So...
2    If this is true then we need to look at additi...
3    Brilliant Brexit gets better by the day as Bor...
4    Nonsense: today you voted again against the wi...
..                                                 ...
680  The PM’s plan to wait and let Christmas magic ...
681  More people support a World Trade Brexit than ...
682  Read and retweet this superb short video https...
683  @JunckerEU @EU_Commission Delusional. The Euro...
684  @JuliaHB1 To be expected by the Mayor...who re...

[685 rows x 3 columns]

In [14]:
conservative_tweets = [TiceTweets, FarageTweets, ShapiroTweets]
conservative_tweets_df = pd.concat(conservative_tweets)
conservative_tweets_df

,Date,User,Tweet
0,2019-12-31 23:12:33+00:00,TiceRichard,"One of the bravest, most principled people I h..."
1,2019-12-31 22:54:20+00:00,TiceRichard,Wishing everyone a Happy Brexit Year ahead! So...
2,2019-12-28 20:26:39+00:00,TiceRichard,If this is true then we need to look at additi...
3,2019-12-21 08:28:54+00:00,TiceRichard,Brilliant Brexit gets better by the day as Bor...
4,2019-12-20 20:28:11+00:00,TiceRichard,Nonsense: today you voted again against the wi...
...,...,...,...
3677,2019-01-01 01:27:27+00:00,benshapiro,Wait until he gets going about the invention a...
3678,2019-01-01 00:43:34+00:00,benshapiro,"Actually, do a recipe from Pow Wow Chow!"
3679,2019-01-01 00:42:26+00:00,benshapiro,Now do AOC’s instant pot recipes!
3680,2019-01-01 00:41:53+00:00,benshapiro,She’s chilling in Cedar Rapids! https://t.co/M...
3681,2019-01-01 00:28:53+00:00,benshapiro,@realDailyWire https://t.co/6xdNU1PX2B

In [15]:
liberal_data = (JonesTweets, CorbynTweets, SandersTweets)
liberal_tweets = pd.concat(liberal_data)
liberal_tweets

,Date,User,Tweet
0,2019-12-31 18:10:55+00:00,OwenJones84,@TahaMArvas yes yes it is
1,2019-12-31 18:05:32+00:00,OwenJones84,"It has been an absolute shitter of a year, in ..."
2,2019-12-31 17:54:53+00:00,OwenJones84,"@Dryad90 hairdresser's away until 6th January,..."
3,2019-12-31 17:51:20+00:00,OwenJones84,"#2009vs2019 \n\nTen years on and here I am, st..."
4,2019-12-31 16:41:34+00:00,OwenJones84,The most predictable thing in the world is ant...
...,...,...,...
3065,2019-01-01 23:18:44+00:00,BernieSanders,If we are serious about reducing income and we...
3066,2019-01-01 22:04:46+00:00,BernieSanders,We must end the absurdity of the United States...
3067,2019-01-01 21:06:04+00:00,BernieSanders,"As Frederick Douglass reminded us: ""If there i..."
3068,2019-01-01 19:29:28+00:00,BernieSanders,"When we talk about justice, we have to underst..."
3069,2019-01-01 18:19:09+00:00,BernieSanders,Jane and I want to take this opportunity to wi...

In [21]:
query = "(from:BBCNews) until:2019-05-01 since:2019-04-01"
tweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        tweets.append([tweet.date, tweet.username, tweet.content])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_50200/653833494.py:5: FutureWarning: username is deprecated, use user.username instead
  tweets.append([tweet.date, tweet.username, tweet.content])

In [22]:
BBCHeadlines = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])
print(BBCHeadlines)

                          Date     User  \
0    2019-04-30 23:56:52+00:00  BBCNews
1    2019-04-30 23:38:37+00:00  BBCNews
2    2019-04-30 23:06:12+00:00  BBCNews
3    2019-04-30 21:58:04+00:00  BBCNews
4    2019-04-30 21:57:03+00:00  BBCNews
...                        ...      ...
1569 2019-04-01 02:35:54+00:00  BBCNews
1570 2019-04-01 02:11:11+00:00  BBCNews
1571 2019-04-01 00:41:07+00:00  BBCNews
1572 2019-04-01 00:32:08+00:00  BBCNews
1573 2019-04-01 00:16:23+00:00  BBCNews

                                                  Tweet
0     Free cash machines vanishing at alarming rate,...
1     Newspaper headlines: New Brexit rows and what'...
2     Wednesday’s Daily Mail: Wife of ex-Putin crony...
3     Wednesday's Times: Venezuela protestors run do...
4     Wednesday's FT: Trump drops cyber theft demand...
...                                                 ...
1569  Rapper Nipsey Hussle shot dead in Los Angeles ...
1570  Turkey local elections: Early result puts oppo...
1571  Uncovering Nazi massacre of Jews on Belarus bu...
1572  'A lot of the team started to get ill' https:/...
1573  Minimum wage rates rise, but bills go up too h...

[1574 rows x 3 columns]

In [18]:
query = "(from:KemiBadenoch) until:2020-01-01 since:2019-01-01"
tweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        tweets.append([tweet.date, tweet.username, tweet.content])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_1422/771497550.py:5: FutureWarning: username is deprecated, use user.username instead
  tweets.append([tweet.date, tweet.username, tweet.content])

In [19]:
BadenochTweets = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])
print(BadenochTweets)

                        Date          User  \
0  2019-12-13 06:33:15+00:00  KemiBadenoch
1  2019-09-27 15:15:51+00:00  KemiBadenoch
2  2019-09-27 15:15:02+00:00  KemiBadenoch
3  2019-08-29 18:21:45+00:00  KemiBadenoch
4  2019-08-23 11:13:24+00:00  KemiBadenoch
5  2019-07-29 06:30:10+00:00  KemiBadenoch
6  2019-07-29 06:29:46+00:00  KemiBadenoch
7  2019-07-29 06:29:30+00:00  KemiBadenoch
8  2019-07-23 12:03:12+00:00  KemiBadenoch
9  2019-06-06 20:36:26+00:00  KemiBadenoch
10 2019-03-19 09:24:03+00:00  KemiBadenoch
11 2019-03-07 21:27:52+00:00  KemiBadenoch
12 2019-02-14 14:33:04+00:00  KemiBadenoch
13 2019-01-28 21:15:20+00:00  KemiBadenoch

                                                Tweet
0   I’m grateful to the nearly 40,000 people who p...
1   I am now on maternity leave but my office is s...
2   My husband and I are delighted to announce the...
3   Applications open today!  Care leavers should ...
4   Care leavers can again apply for exciting one-...
5   And finally apologies to anyone who I have not...
6   Thank you for all good wishes and kind message...
7   I’m humbled to have been appointed a junior mi...
8   Congratulations to @BorisJohnson on winning th...
9   It’s been a privilege to serve as Vice-Chairma...
10  The best article I have read on the Lammy vs C...
11  This is a great thread from @HenryNewman (esp....
12  An extraordinary ad hominem attack on @stephen...
13  Dear @Tesco, Really great that you are importi...

In [20]:
from tqdm.notebook import tqdm
query = "(from:SuellaBraverman) until:2020-01-01 since:2019-01-01"
tweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        tweets.append([tweet.date, tweet.username, tweet.content])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_1422/1715749684.py:6: FutureWarning: username is deprecated, use user.username instead
  tweets.append([tweet.date, tweet.username, tweet.content])

In [21]:
BravermanTweets = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])
print(BravermanTweets)

                         Date             User  \
0   2019-12-21 15:00:53+00:00  SuellaBraverman
1   2019-12-20 12:16:32+00:00  SuellaBraverman
2   2019-12-16 18:03:06+00:00  SuellaBraverman
3   2019-12-13 05:41:53+00:00  SuellaBraverman
4   2019-12-13 05:02:06+00:00  SuellaBraverman
..                        ...              ...
170 2019-01-16 15:59:08+00:00  SuellaBraverman
171 2019-01-15 11:38:13+00:00  SuellaBraverman
172 2019-01-14 01:13:25+00:00  SuellaBraverman
173 2019-01-11 23:53:42+00:00  SuellaBraverman
174 2019-01-09 19:40:02+00:00  SuellaBraverman

                                                 Tweet
0    Cackling from the SNP is easy to deal with. It...
1    Pleased to back in the @HouseofCommons Chamber...
2    Back to @UKParliament today and looking forwar...
3    Thank you @FarehamTories @Conservatives for yo...
4    Thank you Fareham for re-electing me to serve ...
..                                                 ...
170  Go behind the scenes with three MPs caught up ...
171  I cannot vote for a deal that squanders Brexit...
172  My husband and I are delighted to announce tha...
173  Delighted to join you. Great podcast. https://...
174  Congratulations! Keep swimming. https://t.co/2...

[175 rows x 3 columns]

In [22]:
query = "(from:cenkuygur) until:2020-01-01 since:2019-01-01"
tweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        tweets.append([tweet.date, tweet.username, tweet.content])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_1422/1222003687.py:5: FutureWarning: username is deprecated, use user.username instead
  tweets.append([tweet.date, tweet.username, tweet.content])

In [23]:
UygurTweets = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])
print(UygurTweets)

                          Date       User  \
0    2019-12-31 20:15:02+00:00  cenkuygur
1    2019-12-31 19:29:07+00:00  cenkuygur
2    2019-12-31 19:25:32+00:00  cenkuygur
3    2019-12-31 19:22:26+00:00  cenkuygur
4    2019-12-31 19:12:41+00:00  cenkuygur
...                        ...        ...
1675 2019-01-02 21:53:17+00:00  cenkuygur
1676 2019-01-02 04:53:07+00:00  cenkuygur
1677 2019-01-01 20:38:41+00:00  cenkuygur
1678 2019-01-01 20:34:43+00:00  cenkuygur
1679 2019-01-01 17:49:43+00:00  cenkuygur

                                                  Tweet
0     Majority of Americans support progressive poli...
1     Here is a video of me talking to volunteers on...
2     Here is a video of a lifelong Republican who h...
3     Here is a video that I made at a homeless enca...
4     In case, you're not following me on Facebook, ...
...                                                 ...
1675  This is no-brainer. All progressives should vo...
1676  I can't tell if a wrestler or gangsta rapper w...
1677  This is how you can contribute after you hear ...
1678  If you want to do something amazing with your ...
1679  Socialist Nomiki Konst Running for NYC Public ...

[1680 rows x 3 columns]

In [24]:
query = "(from:jimmy_dore) until:2020-01-01 since:2019-01-01"
tweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        tweets.append([tweet.date, tweet.username, tweet.content])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_1422/4183823425.py:5: FutureWarning: username is deprecated, use user.username instead
  tweets.append([tweet.date, tweet.username, tweet.content])

In [25]:
DoreTweets = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])
print(DoreTweets)

                          Date        User  \
0    2019-12-31 22:20:03+00:00  jimmy_dore
1    2019-12-31 21:29:46+00:00  jimmy_dore
2    2019-12-31 21:23:59+00:00  jimmy_dore
3    2019-12-28 09:09:24+00:00  jimmy_dore
4    2019-12-27 20:49:01+00:00  jimmy_dore
...                        ...         ...
1613 2019-01-01 20:49:36+00:00  jimmy_dore
1614 2019-01-01 20:48:36+00:00  jimmy_dore
1615 2019-01-01 18:54:28+00:00  jimmy_dore
1616 2019-01-01 18:21:06+00:00  jimmy_dore
1617 2019-01-01 16:52:21+00:00  jimmy_dore

                                                  Tweet
0     PORTLAND!! We will see you on Saturday, Januar...
1                                                #Comey
2     So unusual that cops would lie for almost no r...
3     Thanks to a great crowd in Honolulu for making...
4     @EliotHiggins @Helenasgallery https://t.co/y3B...
...                                                 ...
1613  @bqqmer76 @JimmyDoreShow looks just my old nei...
1614               @8826markb jimmy@jimmydorecomedy.com
1615  European Neoliberal Politician defends corpora...
1616  Rick Perry Pushes Israel Loyalty Oath For Amer...
1617  Chuck Schumer Says He’s “Wining” Gov. Shutdown...

[1618 rows x 3 columns]

In [26]:
query = "(from:AnnCoulter) until:2020-01-01 since:2019-01-01"
tweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        tweets.append([tweet.date, tweet.username, tweet.content])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_1422/2569356461.py:5: FutureWarning: username is deprecated, use user.username instead
  tweets.append([tweet.date, tweet.username, tweet.content])

In [27]:
CoulterTweets = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])
print(CoulterTweets)

                          Date        User  \
0    2019-12-30 16:48:57+00:00  AnnCoulter
1    2019-12-29 17:51:04+00:00  AnnCoulter
2    2019-12-29 17:49:51+00:00  AnnCoulter
3    2019-12-29 07:23:35+00:00  AnnCoulter
4    2019-12-29 00:01:25+00:00  AnnCoulter
...                        ...         ...
2681 2019-01-02 16:25:17+00:00  AnnCoulter
2682 2019-01-02 16:24:17+00:00  AnnCoulter
2683 2019-01-02 16:23:27+00:00  AnnCoulter
2684 2019-01-02 05:17:45+00:00  AnnCoulter
2685 2019-01-01 17:07:25+00:00  AnnCoulter

                                                  Tweet
0     CORRECTION: No one's for cutting "education" o...
1     Well, Jared did work on releasing all those cr...
2     Just like global warming!  The debate is OVER....
3     A male cop partner would have come in handy: \...
4            I love this video. https://t.co/SMgxGMm0Hx
...                                                 ...
2681  Our new country's going to be GREAT! https://t...
2682  How would THAT help Wall Street? https://t.co/...
2683         I'm coming up on @MarkSimoneNY 710-WOR NY!
2684  Our new country's going to be GREAT! https://t...
2685            Girls are mean. https://t.co/CU5tXHU9vg

[2686 rows x 3 columns]

In [28]:
query = "(from:scrowder) until:2020-01-01 since:2019-01-01"
tweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        tweets.append([tweet.date, tweet.username, tweet.content])

In [29]:
CrowderTweets = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])
print(CrowderTweets)

Empty DataFrame
Columns: [Date, User, Tweet]
Index: []

In [30]:
righttweets = (CrowderTweets, BravermanTweets, CoulterTweets, BadenochTweets, conservative_tweets_df)
conservative_tweets = pd.concat(righttweets)
conservative_tweets

,Date,User,Tweet
0,2019-12-21 15:00:53+00:00,SuellaBraverman,Cackling from the SNP is easy to deal with. It...
1,2019-12-20 12:16:32+00:00,SuellaBraverman,Pleased to back in the @HouseofCommons Chamber...
2,2019-12-16 18:03:06+00:00,SuellaBraverman,Back to @UKParliament today and looking forwar...
3,2019-12-13 05:41:53+00:00,SuellaBraverman,Thank you @FarehamTories @Conservatives for yo...
4,2019-12-13 05:02:06+00:00,SuellaBraverman,Thank you Fareham for re-electing me to serve ...
...,...,...,...
3677,2019-01-01 01:27:27+00:00,benshapiro,Wait until he gets going about the invention a...
3678,2019-01-01 00:43:34+00:00,benshapiro,"Actually, do a recipe from Pow Wow Chow!"
3679,2019-01-01 00:42:26+00:00,benshapiro,Now do AOC’s instant pot recipes!
3680,2019-01-01 00:41:53+00:00,benshapiro,She’s chilling in Cedar Rapids! https://t.co/M...
3681,2019-01-01 00:28:53+00:00,benshapiro,@realDailyWire https://t.co/6xdNU1PX2B

In [31]:
liberal_tweets2 = (liberal_tweets, DoreTweets, UygurTweets)
progressive_tweets = pd.concat(liberal_tweets2)
progressive_tweets

,Date,User,Tweet
0,2019-12-31 18:10:55+00:00,OwenJones84,@TahaMArvas yes yes it is
1,2019-12-31 18:05:32+00:00,OwenJones84,"It has been an absolute shitter of a year, in ..."
2,2019-12-31 17:54:53+00:00,OwenJones84,"@Dryad90 hairdresser's away until 6th January,..."
3,2019-12-31 17:51:20+00:00,OwenJones84,"#2009vs2019 \n\nTen years on and here I am, st..."
4,2019-12-31 16:41:34+00:00,OwenJones84,The most predictable thing in the world is ant...
...,...,...,...
1675,2019-01-02 21:53:17+00:00,cenkuygur,This is no-brainer. All progressives should vo...
1676,2019-01-02 04:53:07+00:00,cenkuygur,I can't tell if a wrestler or gangsta rapper w...
1677,2019-01-01 20:38:41+00:00,cenkuygur,This is how you can contribute after you hear ...
1678,2019-01-01 20:34:43+00:00,cenkuygur,If you want to do something amazing with your ...
1679,2019-01-01 17:49:43+00:00,cenkuygur,Socialist Nomiki Konst Running for NYC Public ...

In [32]:
query = "(from:PrisonPlanet) until:2020-01-01 since:2019-01-01"
tweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        tweets.append([tweet.date, tweet.username, tweet.content])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_1422/1406986901.py:5: FutureWarning: username is deprecated, use user.username instead
  tweets.append([tweet.date, tweet.username, tweet.content])

In [33]:
WatsonTweets = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])
print(WatsonTweets)

                          Date          User  \
0    2019-12-31 23:57:42+00:00  PrisonPlanet
1    2019-12-31 21:50:24+00:00  PrisonPlanet
2    2019-12-31 21:25:48+00:00  PrisonPlanet
3    2019-12-31 21:18:51+00:00  PrisonPlanet
4    2019-12-31 18:56:37+00:00  PrisonPlanet
...                        ...           ...
4392 2019-01-01 12:25:40+00:00  PrisonPlanet
4393 2019-01-01 10:46:12+00:00  PrisonPlanet
4394 2019-01-01 09:47:42+00:00  PrisonPlanet
4395 2019-01-01 09:46:38+00:00  PrisonPlanet
4396 2019-01-01 00:14:12+00:00  PrisonPlanet

                                                  Tweet
0                                               At pub.
1     If you spent New Year's Eve hoping for another...
2     "In former times, a confrontation or shooting ...
3              This aged badly. https://t.co/Abyd5g5xh7
4     Only 5 hours until the UK is "plunged into a S...
...                                                 ...
4392  An Islamic terrorist stabbed three people in M...
4393  Manchester terrorist who stabbed 3 people was ...
4394  Hi @SkyNews - why are you not reporting that e...
4395  Sadiq Khan politicised a fireworks display. Ma...
4396  Looks like terror in Manchester; Man stabs 3 p...

[4397 rows x 3 columns]

In [34]:
query = "(from:paulmasonnews) until:2020-01-01 since:2019-01-01"
tweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        tweets.append([tweet.date, tweet.username, tweet.content])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_1422/1491156554.py:5: FutureWarning: username is deprecated, use user.username instead
  tweets.append([tweet.date, tweet.username, tweet.content])

In [35]:
MasonTweets = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])
print(MasonTweets)

                          Date           User  \
0    2019-12-30 18:38:26+00:00  paulmasonnews
1    2019-12-30 18:31:45+00:00  paulmasonnews
2    2019-12-30 17:48:00+00:00  paulmasonnews
3    2019-12-30 17:44:09+00:00  paulmasonnews
4    2019-12-30 17:40:33+00:00  paulmasonnews
...                        ...            ...
2971 2019-01-02 22:15:09+00:00  paulmasonnews
2972 2019-01-02 22:14:07+00:00  paulmasonnews
2973 2019-01-02 22:12:31+00:00  paulmasonnews
2974 2019-01-02 12:46:09+00:00  paulmasonnews
2975 2019-01-01 19:05:34+00:00  paulmasonnews

                                                  Tweet
0     @Harryb22 I was witch-hunted by the Mail for l...
1     @rob__fraser Hold on, she's standing for leade...
2     @YiannisBab 80s yes, 90s no. Actually even now...
3     @RLong_Bailey At the same time I've been attac...
4     @RLong_Bailey I fought against the Falklands W...
...                                                 ...
2971  ... and if that thought occured to me, maybe i...
2972  ... I've been thinking for months that my iPho...
2973  Apple's sales wobble and Facebook's year of he...
2974  Where post-imperial fantasy meets the hard rea...
2975  In 2019 Corbyn is 4/1 to become next PM. That'...

[2976 rows x 3 columns]

In [36]:
query = "(from:graceblakeley) until:2020-01-01 since:2019-01-01"
tweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        tweets.append([tweet.date, tweet.username, tweet.content])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_1422/2172416629.py:5: FutureWarning: username is deprecated, use user.username instead
  tweets.append([tweet.date, tweet.username, tweet.content])

In [37]:
BlakeleyTweets = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])
print(BlakeleyTweets)

                         Date           User  \
0   2019-10-08 13:51:13+00:00  graceblakeley
1   2019-10-08 13:42:50+00:00  graceblakeley
2   2019-10-08 13:12:08+00:00  graceblakeley
3   2019-10-07 23:40:33+00:00  graceblakeley
4   2019-10-07 20:49:07+00:00  graceblakeley
..                        ...            ...
740 2019-02-12 09:16:43+00:00  graceblakeley
741 2019-02-12 03:56:10+00:00  graceblakeley
742 2019-02-12 03:54:37+00:00  graceblakeley
743 2019-02-11 22:58:50+00:00  graceblakeley
744 2019-02-11 22:13:11+00:00  graceblakeley

                                                 Tweet
0    This extract from @nrolah’s new book is so goo...
1                         @theAlexMcBride Thanks Alex!
2    Week four of book tour and it has been amazing...
3    @NiallGlynn @nmcinroy Thanks for hosting Niall...
4                      @zeithistoriker Congrats Quinn!
..                                                 ...
740  Absolutely brilliant report out today from @La...
741                                @michaeljswalker 😂😍
742                                 @BlessingOmakwu 😍😍
743  @AngusMacNeilSNP @BBCNewsnight @NickyMorgan01 ...
744  Catch me on @BBCNewsnight tonight discussing t...

[745 rows x 3 columns]

In [38]:
query = "(from:MattWalshBlog) until:2020-01-01 since:2019-01-01"
tweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        tweets.append([tweet.date, tweet.username, tweet.content])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_1422/3540122310.py:5: FutureWarning: username is deprecated, use user.username instead
  tweets.append([tweet.date, tweet.username, tweet.content])

In [39]:
WalshTweets = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])
print(WalshTweets)

                          Date           User  \
0    2019-12-31 13:29:42+00:00  MattWalshBlog
1    2019-12-31 01:10:05+00:00  MattWalshBlog
2    2019-12-30 23:44:53+00:00  MattWalshBlog
3    2019-12-30 23:33:54+00:00  MattWalshBlog
4    2019-12-30 23:27:50+00:00  MattWalshBlog
...                        ...            ...
6492 2019-01-02 16:58:18+00:00  MattWalshBlog
6493 2019-01-02 16:57:24+00:00  MattWalshBlog
6494 2019-01-02 13:44:40+00:00  MattWalshBlog
6495 2019-01-02 13:34:35+00:00  MattWalshBlog
6496 2019-01-02 13:30:58+00:00  MattWalshBlog

                                                  Tweet
0     Why wouldn’t you want to stand in the cold for...
1     I haven’t seen Uncut Gems but I get the sense ...
2     Of course that talking point was always absurd...
3     Every argument against having armed guards in ...
4     Honestly I think my plan to turn it into a wat...
...                                                 ...
6492  Just realize that when a feminist "shouts her ...
6493  It's really sad -- infuriating and disgusting,...
6494  I wish Trump would respond to every attack exa...
6495  I have no problem with someone criticizing the...
6496  Did you talk to Trump about this when you went...

[6497 rows x 3 columns]

In [40]:
query = "(from:AyoCaesar) until:2020-01-01 since:2019-01-01"
tweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        tweets.append([tweet.date, tweet.username, tweet.content])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_1422/1609313481.py:5: FutureWarning: username is deprecated, use user.username instead
  tweets.append([tweet.date, tweet.username, tweet.content])

In [41]:
SarkarTweets = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])
print(SarkarTweets)

                          Date       User  \
0    2019-12-31 17:04:01+00:00  AyoCaesar
1    2019-12-31 17:01:43+00:00  AyoCaesar
2    2019-12-31 16:59:24+00:00  AyoCaesar
3    2019-12-31 16:11:35+00:00  AyoCaesar
4    2019-12-31 14:44:09+00:00  AyoCaesar
...                        ...        ...
5989 2019-01-01 12:05:51+00:00  AyoCaesar
5990 2019-01-01 12:01:59+00:00  AyoCaesar
5991 2019-01-01 12:00:07+00:00  AyoCaesar
5992 2019-01-01 10:33:08+00:00  AyoCaesar
5993 2019-01-01 10:31:17+00:00  AyoCaesar

                                                  Tweet
0     @TKispeter @OwenJones84 Fellas, is it gay to r...
1     “Hell, I don’t care if you’re gay OR straight....
2     “I had no idea @OwenJones84 was even gay!!!!” ...
3     Well that lasted all of 4 minutes (a personal ...
4     @jasebyjason I’ve learned and laughed a lot by...
...                                                 ...
5989  If it wasn't for Odysseus' bright bloody idea ...
5990  Penthesilea was like every bad bitch I know - ...
5991  Hit me with your Trojan War opinions. I'll go ...
5992            The correct answer is “climate change”.
5993                             WHO WE BEEFING IN 2019

[5994 rows x 3 columns]

In [42]:
conservativetweets = pd.concat([conservative_tweets,WatsonTweets, WalshTweets])
conservativetweets

,Date,User,Tweet
0,2019-12-21 15:00:53+00:00,SuellaBraverman,Cackling from the SNP is easy to deal with. It...
1,2019-12-20 12:16:32+00:00,SuellaBraverman,Pleased to back in the @HouseofCommons Chamber...
2,2019-12-16 18:03:06+00:00,SuellaBraverman,Back to @UKParliament today and looking forwar...
3,2019-12-13 05:41:53+00:00,SuellaBraverman,Thank you @FarehamTories @Conservatives for yo...
4,2019-12-13 05:02:06+00:00,SuellaBraverman,Thank you Fareham for re-electing me to serve ...
...,...,...,...
6492,2019-01-02 16:58:18+00:00,MattWalshBlog,"Just realize that when a feminist ""shouts her ..."
6493,2019-01-02 16:57:24+00:00,MattWalshBlog,"It's really sad -- infuriating and disgusting,..."
6494,2019-01-02 13:44:40+00:00,MattWalshBlog,I wish Trump would respond to every attack exa...
6495,2019-01-02 13:34:35+00:00,MattWalshBlog,I have no problem with someone criticizing the...
6496,2019-01-02 13:30:58+00:00,MattWalshBlog,Did you talk to Trump about this when you went...

In [43]:
conservativetweets.User.unique()

array(['SuellaBraverman', 'AnnCoulter', 'KemiBadenoch', 'TiceRichard',
       'Nigel_Farage', 'benshapiro', 'PrisonPlanet', 'MattWalshBlog'],
      dtype=object)

In [44]:
liberal_tweets = pd.concat([progressive_tweets, BlakeleyTweets, MasonTweets, SarkarTweets])
liberal_tweets

,Date,User,Tweet
0,2019-12-31 18:10:55+00:00,OwenJones84,@TahaMArvas yes yes it is
1,2019-12-31 18:05:32+00:00,OwenJones84,"It has been an absolute shitter of a year, in ..."
2,2019-12-31 17:54:53+00:00,OwenJones84,"@Dryad90 hairdresser's away until 6th January,..."
3,2019-12-31 17:51:20+00:00,OwenJones84,"#2009vs2019 \n\nTen years on and here I am, st..."
4,2019-12-31 16:41:34+00:00,OwenJones84,The most predictable thing in the world is ant...
...,...,...,...
5989,2019-01-01 12:05:51+00:00,AyoCaesar,If it wasn't for Odysseus' bright bloody idea ...
5990,2019-01-01 12:01:59+00:00,AyoCaesar,Penthesilea was like every bad bitch I know - ...
5991,2019-01-01 12:00:07+00:00,AyoCaesar,Hit me with your Trojan War opinions. I'll go ...
5992,2019-01-01 10:33:08+00:00,AyoCaesar,The correct answer is “climate change”.
5993,2019-01-01 10:31:17+00:00,AyoCaesar,WHO WE BEEFING IN 2019

In [45]:
query = "(from:KyleKulinski) until:2020-01-01 since:2019-01-01"
tweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        tweets.append([tweet.date, tweet.username, tweet.content])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_1422/1907289307.py:5: FutureWarning: username is deprecated, use user.username instead
  tweets.append([tweet.date, tweet.username, tweet.content])

In [46]:
KulinskiTweets = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])
print(KulinskiTweets)
liberal_tweets = pd.concat([liberal_tweets, KulinskiTweets])

                          Date          User  \
0    2019-12-31 18:29:11+00:00  KyleKulinski
1    2019-12-31 18:27:20+00:00  KyleKulinski
2    2019-12-31 18:19:49+00:00  KyleKulinski
3    2019-12-31 18:17:33+00:00  KyleKulinski
4    2019-12-31 17:55:29+00:00  KyleKulinski
...                        ...           ...
4012 2019-01-02 21:00:43+00:00  KyleKulinski
4013 2019-01-02 20:37:42+00:00  KyleKulinski
4014 2019-01-02 20:33:40+00:00  KyleKulinski
4015 2019-01-02 17:18:14+00:00  KyleKulinski
4016 2019-01-01 05:11:50+00:00  KyleKulinski

                                                  Tweet
0     @krystalball @esaagar @makosloff @CBedfordDC @...
1     @esaagar @makosloff @CBedfordDC @GPIngersoll @...
2     @esaagar @makosloff @CBedfordDC @GPIngersoll @...
3     @esaagar @makosloff @CBedfordDC @GPIngersoll @...
4     It's 78 degrees in Miami right now and frankly...
...                                                 ...
4012  All an elected Republican has to say is “I dis...
4013  @whiter069 @FiveThirtyEight Ending drug war, f...
4014  Your definition of populist is "more governmen...
4015  As far as I can tell only @RoKhanna and @AOC h...
4016                            https://t.co/eV3e5GRnhC

[4017 rows x 3 columns]

In [47]:
query = "(from:DouglasKMurray) until:2020-01-01 since:2019-01-01"
murraytweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        murraytweets.append([tweet.date, tweet.username, tweet.content])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_1422/442268405.py:5: FutureWarning: username is deprecated, use user.username instead
  murraytweets.append([tweet.date, tweet.username, tweet.content])

In [48]:
MurrayTweets = pd.DataFrame(murraytweets, columns=['Date', 'User', 'Tweet'])
print(MurrayTweets)
conservativetweets = pd.concat([conservativetweets, MurrayTweets])

                         Date            User  \
0   2019-12-31 16:28:18+00:00  DouglasKMurray
1   2019-12-29 02:23:22+00:00  DouglasKMurray
2   2019-12-28 10:39:30+00:00  DouglasKMurray
3   2019-12-24 09:36:51+00:00  DouglasKMurray
4   2019-12-23 19:43:30+00:00  DouglasKMurray
..                        ...             ...
425 2019-01-17 13:23:23+00:00  DouglasKMurray
426 2019-01-11 01:40:52+00:00  DouglasKMurray
427 2019-01-08 23:10:02+00:00  DouglasKMurray
428 2019-01-08 21:26:19+00:00  DouglasKMurray
429 2019-01-03 09:57:20+00:00  DouglasKMurray

                                                 Tweet
0    A very moving diary of 2019 from Roger Scruton...
1                              https://t.co/osffQn2QAy
2    My column in today’s Telegraph: https://t.co/r...
3    ‘Brexit, for real this time’. The latest issue...
4    New for UnHerd. 'How does Labour get out of th...
..                                                 ...
425  'After Brexit and Trump: an interview with Dou...
426  The latest issue of @NRO is out now. The cover...
427  For Italian readers, here is a new interview w...
428                            https://t.co/eGpuIcXvaX
429  This week’s Spectator (out today) includes thi...

[430 rows x 3 columns]

In [49]:
query = "(from:toadmeister) until:2020-01-01 since:2019-01-01"
youngtweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        youngtweets.append([tweet.date, tweet.username, tweet.content])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_1422/1873467654.py:5: FutureWarning: username is deprecated, use user.username instead
  youngtweets.append([tweet.date, tweet.username, tweet.content])

In [50]:
YoungTweets = pd.DataFrame(youngtweets, columns=['Date', 'User', 'Tweet'])
print(YoungTweets)
conservativetweets = pd.concat([conservativetweets, YoungTweets])

                       Date         User  \
0 2019-07-11 19:46:15+00:00  toadmeister

                                               Tweet
0  I love Boris for not firing me when I wrote a ...

In [52]:
query = "(from:IsabelOakeshott) until:2020-01-01 since:2019-01-01"
oakeshotttweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        oakeshotttweets.append([tweet.date, tweet.username, tweet.content])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_1422/1641172079.py:5: FutureWarning: username is deprecated, use user.username instead
  oakeshotttweets.append([tweet.date, tweet.username, tweet.content])

In [53]:
OakeshottTweets = pd.DataFrame(oakeshotttweets, columns=['Date', 'User', 'Tweet'])
print(OakeshottTweets)
conservativetweets = pd.concat([conservativetweets, OakeshottTweets])

                         Date             User  \
0   2019-12-21 19:23:49+00:00  IsabelOakeshott
1   2019-12-13 20:16:50+00:00  IsabelOakeshott
2   2019-12-12 23:52:54+00:00  IsabelOakeshott
3   2019-12-12 23:52:24+00:00  IsabelOakeshott
4   2019-12-12 23:02:45+00:00  IsabelOakeshott
..                        ...              ...
553 2019-01-14 12:07:41+00:00  IsabelOakeshott
554 2019-01-08 16:22:50+00:00  IsabelOakeshott
555 2019-01-08 13:20:36+00:00  IsabelOakeshott
556 2019-01-03 09:16:13+00:00  IsabelOakeshott
557 2019-01-01 11:15:39+00:00  IsabelOakeshott

                                                 Tweet
0                  @jrowland58 https://t.co/yeAizRZgF8
1                      @familytreeman8 @LordAshcroft 🙄
2            @guyadams Something about saving the NHS?
3                                 @guyadams Me neither
4    @MartinStewITV @itvtynetees A sign we want a d...
..                                                 ...
553  @DphSecret Hi, please could you follow me so I...
554                             @superted444 Thank you
555  We covered this at length and in a balanced wa...
556                   Exactly. https://t.co/YbYK4Pr2OZ
557                              @666DAZZLE Belatedly!

[558 rows x 3 columns]

In [54]:
query = "(from:Con_Tomlinson) until:2020-01-01 since:2019-01-01"
tomlinsontweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        tomlinsontweets.append([tweet.date, tweet.username, tweet.content])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_1422/2278003760.py:5: FutureWarning: username is deprecated, use user.username instead
  tomlinsontweets.append([tweet.date, tweet.username, tweet.content])

In [55]:
TomlinsonTweets = pd.DataFrame(tomlinsontweets, columns=['Date', 'User', 'Tweet'])
print(TomlinsonTweets)
conservativetweets = pd.concat([conservativetweets, TomlinsonTweets])

                         Date           User  \
0   2019-12-31 23:56:41+00:00  Con_Tomlinson
1   2019-12-26 00:36:49+00:00  Con_Tomlinson
2   2019-12-26 00:34:02+00:00  Con_Tomlinson
3   2019-12-24 21:33:05+00:00  Con_Tomlinson
4   2019-12-24 10:34:47+00:00  Con_Tomlinson
..                        ...            ...
626 2019-01-04 01:26:21+00:00  Con_Tomlinson
627 2019-01-04 00:27:41+00:00  Con_Tomlinson
628 2019-01-03 18:46:33+00:00  Con_Tomlinson
629 2019-01-01 12:12:32+00:00  Con_Tomlinson
630 2019-01-01 12:11:00+00:00  Con_Tomlinson

                                                 Tweet
0    John Boyega no longer bows to the House of Mou...
1    Batman Returns and Gremlins are the best Chris...
2     @macawcaw123 I am incapable of being victorious.
3    Spoilers for Rise of Skywalker https://t.co/wN...
4    Did he really need to act like the Joker in '8...
..                                                 ...
626  Storm holding an umbrella. It’s like you’re no...
627  Black Mirror: Bandersnatch\n\n• Complex and in...
628  This truly is the most interesting timeline ht...
629  @CJBlkcz @stillgray Just Toyota Prius’ driven ...
630  @stillgray They were right about fascinations ...

[631 rows x 3 columns]

In [56]:
query = "(from:MelanieLatest) until:2020-01-01 since:2019-01-01"
philipstweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        philipstweets.append([tweet.date, tweet.username, tweet.content])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_1422/3508389500.py:5: FutureWarning: username is deprecated, use user.username instead
  philipstweets.append([tweet.date, tweet.username, tweet.content])

In [57]:
PhilipsTweets = pd.DataFrame(philipstweets, columns=['Date', 'User', 'Tweet'])
print(PhilipsTweets)
conservativetweets = pd.concat([conservativetweets, PhilipsTweets])

                         Date           User  \
0   2019-12-31 11:50:11+00:00  MelanieLatest
1   2019-12-31 11:49:16+00:00  MelanieLatest
2   2019-12-27 10:41:11+00:00  MelanieLatest
3   2019-12-25 17:14:36+00:00  MelanieLatest
4   2019-12-23 09:19:15+00:00  MelanieLatest
..                        ...            ...
274 2019-01-04 09:55:03+00:00  MelanieLatest
275 2019-01-02 09:49:31+00:00  MelanieLatest
276 2019-01-01 21:15:24+00:00  MelanieLatest
277 2019-01-01 21:13:59+00:00  MelanieLatest
278 2019-01-01 21:13:36+00:00  MelanieLatest

                                                 Tweet
0    @James1940 @BBCiPlayer Thank you. And yes inde...
1       @GrayConnolly Thanks! And best wishes for 2020
2    Against the odds, heroic Iranians continue the...
3              @caradoc72 Thanks, and the same to you.
4    Amnesty International- from bias to obsession ...
..                                                 ...
274  The pathological animus of the New York Times ...
275  @Oooh_Matron Eh? Have never even written about...
276    https://t.co/8YG0BHe0J6 https://t.co/aZS1GsICmq
277                       @ShireCleeve Thanks so much!
278                               @wpaddock Thank you!

[279 rows x 3 columns]

In [58]:
conservativetweets['View'] = 'Conservative'

In [59]:
liberal_tweets['View'] = 'Liberal'
liberal_tweets

,Date,User,Tweet,View
0,2019-12-31 18:10:55+00:00,OwenJones84,@TahaMArvas yes yes it is,Liberal
1,2019-12-31 18:05:32+00:00,OwenJones84,"It has been an absolute shitter of a year, in ...",Liberal
2,2019-12-31 17:54:53+00:00,OwenJones84,"@Dryad90 hairdresser's away until 6th January,...",Liberal
3,2019-12-31 17:51:20+00:00,OwenJones84,"#2009vs2019 \n\nTen years on and here I am, st...",Liberal
4,2019-12-31 16:41:34+00:00,OwenJones84,The most predictable thing in the world is ant...,Liberal
...,...,...,...,...
4012,2019-01-02 21:00:43+00:00,KyleKulinski,All an elected Republican has to say is “I dis...,Liberal
4013,2019-01-02 20:37:42+00:00,KyleKulinski,"@whiter069 @FiveThirtyEight Ending drug war, f...",Liberal
4014,2019-01-02 20:33:40+00:00,KyleKulinski,"Your definition of populist is ""more governmen...",Liberal
4015,2019-01-02 17:18:14+00:00,KyleKulinski,As far as I can tell only @RoKhanna and @AOC h...,Liberal
4016,2019-01-01 05:11:50+00:00,KyleKulinski,https://t.co/eV3e5GRnhC,Liberal

In [60]:
Tweet_Data = pd.concat([liberal_tweets, conservativetweets])

In [61]:
Tweet_Data

,Date,User,Tweet,View
0,2019-12-31 18:10:55+00:00,OwenJones84,@TahaMArvas yes yes it is,Liberal
1,2019-12-31 18:05:32+00:00,OwenJones84,"It has been an absolute shitter of a year, in ...",Liberal
2,2019-12-31 17:54:53+00:00,OwenJones84,"@Dryad90 hairdresser's away until 6th January,...",Liberal
3,2019-12-31 17:51:20+00:00,OwenJones84,"#2009vs2019 \n\nTen years on and here I am, st...",Liberal
4,2019-12-31 16:41:34+00:00,OwenJones84,The most predictable thing in the world is ant...,Liberal
...,...,...,...,...
274,2019-01-04 09:55:03+00:00,MelanieLatest,The pathological animus of the New York Times ...,Conservative
275,2019-01-02 09:49:31+00:00,MelanieLatest,@Oooh_Matron Eh? Have never even written about...,Conservative
276,2019-01-01 21:15:24+00:00,MelanieLatest,https://t.co/8YG0BHe0J6 https://t.co/aZS1GsICmq,Conservative
277,2019-01-01 21:13:59+00:00,MelanieLatest,@ShireCleeve Thanks so much!,Conservative
278,2019-01-01 21:13:36+00:00,MelanieLatest,@wpaddock Thank you!,Conservative

In [17]:
# code taken from here: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html
from pathlib import Path  
filepath = Path('/Users/douglaswood/Documents/Postgraduate/Dissertation/Tweet_Data.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
Tweet_Data.to_csv(filepath)

NameError: name 'Tweet_Data' is not defined

In [23]:
query = "(from:Guardian) until:2019-05-01 since:2019-04-01"
guardiantweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        guardiantweets.append([tweet.date, tweet.username, tweet.content])

GuardianTweets = pd.DataFrame(guardiantweets, columns=['Date', 'User', 'Tweet'])
print(GuardianTweets)
Headlines = pd.concat([GuardianTweets, BBCHeadlines])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_50200/4255032334.py:5: FutureWarning: username is deprecated, use user.username instead
  guardiantweets.append([tweet.date, tweet.username, tweet.content])

                          Date      User  \
0    2019-04-30 23:53:47+00:00  guardian
1    2019-04-30 23:36:18+00:00  guardian
2    2019-04-30 23:34:04+00:00  guardian
3    2019-04-30 23:22:55+00:00  guardian
4    2019-04-30 23:16:57+00:00  guardian
...                        ...       ...
5110 2019-04-01 02:43:34+00:00  guardian
5111 2019-04-01 02:21:47+00:00  guardian
5112 2019-04-01 02:14:33+00:00  guardian
5113 2019-04-01 01:33:34+00:00  guardian
5114 2019-04-01 01:24:58+00:00  guardian

                                                  Tweet
0     Mauricio Pochettino defends medical staff afte...
1     White Tory-voting comedian gets place on BBC d...
2     Donny van de Beek presses pause before deliver...
3     Mueller criticized attorney general's depictio...
4     North Carolina shooting: at least two killed a...
...                                                 ...
5110  Comedian Volodymyr Zelenskiy rejoices at first...
5111  Faking your own hate crime? The strange case o...
5112  Faking your own hate crime? The strange case o...
5113  The Cure's Robert Smith offers blunt response ...
5114  The Cure's Robert Smith offers blunt response ...

[5115 rows x 3 columns]

In [24]:
Headlines['User'].value_counts()

guardian    5115
BBCNews     1574
Name: User, dtype: int64

In [25]:
query = "(from:DailyMailUK) until:2019-05-01 since:2019-04-01"
mailtweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        mailtweets.append([tweet.date, tweet.username, tweet.content])

MailTweets = pd.DataFrame(mailtweets, columns=['Date', 'User', 'Tweet'])
print(MailTweets)
Headlines = pd.concat([MailTweets, Headlines])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_50200/1229439388.py:5: FutureWarning: username is deprecated, use user.username instead
  mailtweets.append([tweet.date, tweet.username, tweet.content])

                          Date         User  \
0    2019-04-30 22:57:05+00:00  DailyMailUK
1    2019-04-30 22:32:06+00:00  DailyMailUK
2    2019-04-30 22:12:06+00:00  DailyMailUK
3    2019-04-30 21:52:07+00:00  DailyMailUK
4    2019-04-30 21:32:04+00:00  DailyMailUK
...                        ...          ...
2486 2019-04-01 07:05:14+00:00  DailyMailUK
2487 2019-04-01 07:02:01+00:00  DailyMailUK
2488 2019-04-01 06:52:42+00:00  DailyMailUK
2489 2019-04-01 06:39:00+00:00  DailyMailUK
2490 2019-04-01 06:21:04+00:00  DailyMailUK

                                                  Tweet
0     Daughter, 53, left frail 91-year-old mother to...
1     Inside world's biggest 'co-living' development...
2     Vicky McClure discusses her late grandmother's...
3     Mother reveals she feeds ROADKILL to her son, ...
4     Katie Price 'regrets her recent bum and face l...
...                                                 ...
2486  Mother who was so 'obsessed' with having a dau...
2487  Phones4U tycoon John Caudwell pledges to leave...
2488  Princess Beatrice’s new boyfriend joins her an...
2489  Anger as freed paedophile Adam Johnson flashes...
2490  Three men stabbed and one seriously injured in...

[2491 rows x 3 columns]

In [26]:
query = "(from:thetimes) until:2019-05-01 since:2019-04-01"
timestweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        timestweets.append([tweet.date, tweet.username, tweet.content])

TimesTweets = pd.DataFrame(timestweets, columns=['Date', 'User', 'Tweet'])
print(TimesTweets)
Headlines = pd.concat([TimesTweets, Headlines])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_50200/846922208.py:5: FutureWarning: username is deprecated, use user.username instead
  timestweets.append([tweet.date, tweet.username, tweet.content])

                          Date      User  \
0    2019-04-30 19:04:07+00:00  thetimes
1    2019-04-30 18:50:09+00:00  thetimes
2    2019-04-30 18:22:39+00:00  thetimes
3    2019-04-30 18:08:54+00:00  thetimes
4    2019-04-30 17:55:25+00:00  thetimes
...                        ...       ...
1540 2019-04-01 06:20:50+00:00  thetimes
1541 2019-04-01 06:00:32+00:00  thetimes
1542 2019-04-01 05:40:34+00:00  thetimes
1543 2019-04-01 05:20:55+00:00  thetimes
1544 2019-04-01 05:00:21+00:00  thetimes

                                                  Tweet
0     Jeremy Corbyn wrote the foreword to a book whi...
1     Australian, 21, was filmed swerving into oncom...
2     There were fierce clashes in Caracas today aft...
3     A county cricketer who raped a young woman as ...
4     #Worldatfive: Despite decades in the public ey...
...                                                 ...
1540  The number of non-British drivers trading in t...
1541  A string of senior Tories have condemned a vot...
1542  The average woman earns 10 per cent less than ...
1543  Hamza Parvez, the first Briton to admit public...
1544  Ministers including Chris Grayling and Penny M...

[1545 rows x 3 columns]

In [27]:
query = "(from:nytimes) until:2019-05-01 since:2019-04-01"
nyttweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        nyttweets.append([tweet.date, tweet.username, tweet.content])

NYTTweets = pd.DataFrame(nyttweets, columns=['Date', 'User', 'Tweet'])
print(NYTTweets)
Headlines = pd.concat([NYTTweets, Headlines])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_50200/3784325043.py:5: FutureWarning: username is deprecated, use user.username instead
  nyttweets.append([tweet.date, tweet.username, tweet.content])

                          Date     User  \
0    2019-04-30 23:55:05+00:00  nytimes
1    2019-04-30 23:36:00+00:00  nytimes
2    2019-04-30 23:23:33+00:00  nytimes
3    2019-04-30 23:00:04+00:00  nytimes
4    2019-04-30 22:45:04+00:00  nytimes
...                        ...      ...
2494 2019-04-01 01:18:03+00:00  nytimes
2495 2019-04-01 01:00:05+00:00  nytimes
2496 2019-04-01 00:45:06+00:00  nytimes
2497 2019-04-01 00:17:41+00:00  nytimes
2498 2019-04-01 00:00:06+00:00  nytimes

                                                  Tweet
0     2 people were fatally shot and at least 4 othe...
1     The letter adds to the growing evidence of a r...
2     Breaking News: Robert Mueller wrote a letter t...
3     Evening Briefing: Here's what you need to know...
4     In Opinion\n\nPamela Druckerman writes: "My Fr...
...                                                 ...
2494  What to do if a teacher assigns homework that ...
2495  "The fear that marginalized groups will fall u...
2496  As the trailer for the premiere of “Keeping Up...
2497  Periods can get worse as women age. Sometimes ...
2498  At the Berwyn prison in Wales, prisoners have ...

[2499 rows x 3 columns]

In [28]:
query = "(from:BBCNews) until:2011-05-01 since:2011-04-01"
tweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        tweets.append([tweet.date, tweet.username, tweet.content])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_50200/3019517472.py:5: FutureWarning: username is deprecated, use user.username instead
  tweets.append([tweet.date, tweet.username, tweet.content])

In [29]:
query = "(from:Guardian) until:2011-05-01 since:2011-04-01"
guardiantweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        guardiantweets.append([tweet.date, tweet.username, tweet.content])

GuardianTweets = pd.DataFrame(guardiantweets, columns=['Date', 'User', 'Tweet'])
print(GuardianTweets)
Headlines = pd.concat([Headlines, GuardianTweets])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_50200/3250833001.py:5: FutureWarning: username is deprecated, use user.username instead
  guardiantweets.append([tweet.date, tweet.username, tweet.content])

                         Date      User  \
0   2011-04-30 16:43:26+00:00  guardian
1   2011-04-30 15:37:33+00:00  guardian
2   2011-04-30 14:28:06+00:00  guardian
3   2011-04-30 12:31:51+00:00  guardian
4   2011-04-29 23:00:45+00:00  guardian
..                        ...       ...
379 2011-04-01 08:53:50+00:00  guardian
380 2011-04-01 08:45:40+00:00  guardian
381 2011-04-01 08:44:59+00:00  guardian
382 2011-04-01 08:36:04+00:00  guardian
383 2011-04-01 08:11:49+00:00  guardian

                                                 Tweet
0    Syrian forces storm Deraa mosque http://gu.com...
1    Easy riders: 10 scenic cycle routes around Eng...
2    Royal wedding television audience hit 24m peak...
3    Muammar Gaddafi calls for ceasefire in Libyan ...
4    China 'backsliding on human rights' http://gu....
..                                                 ...
379  @MTPT not at a bad idea that - will tell our f...
380  Latest news from #Libya + fallout from Moussa ...
381          @MTPT don't forget to check the byline...
382  @dan_hutton @burning_ @EmmaJIndigo don't forge...
383  Revealed: Gaddafi envoy in Britain for secret ...

[384 rows x 3 columns]

In [30]:
query = "(from:DailyMailUK) until:2011-05-01 since:2011-04-01"
mailtweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        mailtweets.append([tweet.date, tweet.username, tweet.content])

MailTweets = pd.DataFrame(mailtweets, columns=['Date', 'User', 'Tweet'])
print(MailTweets)
Headlines = pd.concat([MailTweets, Headlines])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_50200/4278278402.py:5: FutureWarning: username is deprecated, use user.username instead
  mailtweets.append([tweet.date, tweet.username, tweet.content])

                          Date         User  \
0    2011-04-30 23:55:12+00:00  DailyMailUK
1    2011-04-30 23:55:12+00:00  DailyMailUK
2    2011-04-30 23:55:11+00:00  DailyMailUK
3    2011-04-30 23:55:11+00:00  DailyMailUK
4    2011-04-30 23:24:26+00:00  DailyMailUK
...                        ...          ...
1238 2011-04-01 00:41:48+00:00  DailyMailUK
1239 2011-04-01 00:41:48+00:00  DailyMailUK
1240 2011-04-01 00:41:47+00:00  DailyMailUK
1241 2011-04-01 00:41:47+00:00  DailyMailUK
1242 2011-04-01 00:41:47+00:00  DailyMailUK

                                                  Tweet
0     ROYAL WEDDING: Middletons go home ... £250,000...
1     Royal wedding: Lip-reader reveals just what WA...
2     Royal wedding: Chelsy Davy censors racy Harry ...
3     Royal wedding: Harry pays tribute to William '...
4     Royal Wedding: Kate Middleton's 'secret meetin...
...                                                 ...
1238  Booze Britain: Now fifth of women are drinking...
1239  Fashion student, 27, wins £2.85m in London cou...
1240  Japan nuclear crisis: Fukushima plant to be en...
1241  Steady on, Prince charming: Charles gets carri...
1242  Libya regime faces collapse as 'dirty dozen' f...

[1243 rows x 3 columns]

In [31]:
query = "(from:thetimes) until:2011-05-01 since:2011-04-01"
timestweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        timestweets.append([tweet.date, tweet.username, tweet.content])

TimesTweets = pd.DataFrame(timestweets, columns=['Date', 'User', 'Tweet'])
print(TimesTweets)
Headlines = pd.concat([TimesTweets, Headlines])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_50200/981048461.py:5: FutureWarning: username is deprecated, use user.username instead
  timestweets.append([tweet.date, tweet.username, tweet.content])

                         Date      User  \
0   2011-04-30 21:45:10+00:00  thetimes
1   2011-04-30 20:42:11+00:00  thetimes
2   2011-04-30 19:39:24+00:00  thetimes
3   2011-04-30 18:36:25+00:00  thetimes
4   2011-04-30 17:33:21+00:00  thetimes
..                        ...       ...
318 2011-04-01 10:46:41+00:00  thetimes
319 2011-04-01 10:46:22+00:00  thetimes
320 2011-04-01 10:36:33+00:00  thetimes
321 2011-04-01 10:31:37+00:00  thetimes
322 2011-04-01 10:24:36+00:00  thetimes

                                                 Tweet
0    The blogger who became a Tunisian government m...
1    QPR seal promotion after Watford win http://go...
2    Advantage Cameron: PM beats tennis legend Bori...
3    QPR seal promotion to the Premier League - for...
4    Royal newlyweds delay honeymoon http://goo.gl/...
..                                                 ...
318  @theartsdesk Congratulations, you made it into...
319  @ace_national Congratulations, you made it int...
320  LAST CHANCE Final instalment of our Rational O...
321                  @digitalspy You are very welcome!
322  Schoolgirl stabbed at school gate  - http://th...

[323 rows x 3 columns]

In [33]:
query = "(from:nytimes) until:2011-05-01 since:2011-04-01"
nyttweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        nyttweets.append([tweet.date, tweet.username, tweet.content])

NYTTweets = pd.DataFrame(nyttweets, columns=['Date', 'User', 'Tweet'])
print(NYTTweets)
Headlines = pd.concat([NYTTweets, Headlines])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_50200/3763499977.py:5: FutureWarning: username is deprecated, use user.username instead
  nyttweets.append([tweet.date, tweet.username, tweet.content])

                          Date     User  \
0    2011-04-30 23:52:02+00:00  nytimes
1    2011-04-30 23:18:55+00:00  nytimes
2    2011-04-30 23:00:30+00:00  nytimes
3    2011-04-30 22:50:55+00:00  nytimes
4    2011-04-30 22:50:55+00:00  nytimes
...                        ...      ...
1505 2011-04-01 01:59:31+00:00  nytimes
1506 2011-04-01 01:59:30+00:00  nytimes
1507 2011-04-01 00:55:46+00:00  nytimes
1508 2011-04-01 00:46:26+00:00  nytimes
1509 2011-04-01 00:46:25+00:00  nytimes

                                                  Tweet
0     Son of Qaddafi Killed in NATO Airstrike http:/...
1     Posey Thrives as Dangerous Hitter; Her Brother...
2     Critic’s Notebook: Making the Holocaust the Le...
3     DealBook: Buffett Takes Sharper Tone in Sokol ...
4     Cultural Studies: ‘The Good Wife’ and Its Wome...
...                                                 ...
1505  Liberia Uneasily Linked to Ivory Coast Conflic...
1506  The Choice: When College Was a Buyer’s Bazaar ...
1507  Nixon Library Opens a Door Some Would Prefer L...
1508  ArtsBeat: Deal for Future Seasons of ‘Mad Men’...
1509  In a Victim’s Notes, a Code the F.B.I. Can’t C...

[1510 rows x 3 columns]

In [34]:
query = "(from:washingtonpost) until:2011-05-01 since:2011-04-01"
nyttweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        nyttweets.append([tweet.date, tweet.username, tweet.content])

NYTTweets = pd.DataFrame(nyttweets, columns=['Date', 'User', 'Tweet'])
print(NYTTweets)
Headlines = pd.concat([NYTTweets, Headlines])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_50200/399188406.py:5: FutureWarning: username is deprecated, use user.username instead
  nyttweets.append([tweet.date, tweet.username, tweet.content])

                          Date            User  \
0    2011-04-30 23:30:05+00:00  washingtonpost
1    2011-04-30 23:24:56+00:00  washingtonpost
2    2011-04-30 23:14:18+00:00  washingtonpost
3    2011-04-30 23:09:58+00:00  washingtonpost
4    2011-04-30 23:00:11+00:00  washingtonpost
...                        ...             ...
1773 2011-04-01 00:45:03+00:00  washingtonpost
1774 2011-04-01 00:30:04+00:00  washingtonpost
1775 2011-04-01 00:26:22+00:00  washingtonpost
1776 2011-04-01 00:26:22+00:00  washingtonpost
1777 2011-04-01 00:00:36+00:00  washingtonpost

                                                  Tweet
0     Aboard the last MARC train of the night, rider...
1     RT @MrDanZak: First in the #whcd ballroom: Boe...
2     RT @MrDanZak: Requisite protesters outside #wh...
3     NATO missile kills Gaddafi's youngest son, thr...
4     International theft rings steal hundreds of ve...
...                                                 ...
1773  Warner to introduce bill to revoke reserved pl...
1774  Inspector general finds SEC practices might co...
1775  Misssssssing for nearly a week, Bronx Zoo cobr...
1776  Japan ‘tankan’ survey shows improving business...
1777  #DWTS's Carrie Ann Inaba gets engaged on ‘Regi...

[1778 rows x 3 columns]

In [35]:
query = "(from:washingtonpost) until:2019-05-01 since:2019-04-01"
nyttweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        nyttweets.append([tweet.date, tweet.username, tweet.content])

NYTTweets = pd.DataFrame(nyttweets, columns=['Date', 'User', 'Tweet'])
print(NYTTweets)
Headlines = pd.concat([NYTTweets, Headlines])

/var/folders/j1/xwlyd2kd5hb4q6nbz5k6s9v80000gn/T/ipykernel_50200/2557877156.py:5: FutureWarning: username is deprecated, use user.username instead
  nyttweets.append([tweet.date, tweet.username, tweet.content])

                          Date            User  \
0    2019-04-30 23:59:03+00:00  washingtonpost
1    2019-04-30 23:47:03+00:00  washingtonpost
2    2019-04-30 23:46:02+00:00  washingtonpost
3    2019-04-30 23:24:22+00:00  washingtonpost
4    2019-04-30 23:20:06+00:00  washingtonpost
...                        ...             ...
3712 2019-04-01 01:50:54+00:00  washingtonpost
3713 2019-04-01 01:20:48+00:00  washingtonpost
3714 2019-04-01 00:55:41+00:00  washingtonpost
3715 2019-04-01 00:25:41+00:00  washingtonpost
3716 2019-04-01 00:10:49+00:00  washingtonpost

                                                  Tweet
0     Opinion: Republicans want Trump to give up on ...
1     We asked the experts what makes a great fighti...
2     A high-ranking lawyer claims her CEO directed ...
3     University shooting leaves 2 dead, others with...
4     Ady Barkan, activist with ALS, testifies in fa...
...                                                 ...
3712  "Sleep is critical to human existence": Judge ...
3713  Perspective: Most people think local journalis...
3714  Opinion: If the GOP built their ideal health-c...
3715  Joe Biden’s affectionate, physical style with ...
3716  Review: Worried that "Barry" can’t possibly ou...

[3717 rows x 3 columns]

In [30]:
# code taken from here: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html
from pathlib import Path  
filepath = Path('/Users/douglaswood/Documents/Postgraduate/Dissertation/Headlines.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
Headlines.to_csv(filepath)

In [20]:
Headlines['User'].value_counts()

guardian       5499
DailyMailUK    3734
nytimes        2499
thetimes       1868
BBCNews        1574
Name: User, dtype: int64

In [36]:
BBCHeadlines = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])
print(BBCHeadlines)
Headlines = pd.concat([Headlines, BBCHeadlines])

                          Date     User  \
0    2011-04-30 23:37:12+00:00  BBCNews
1    2011-04-30 23:06:02+00:00  BBCNews
2    2011-04-30 22:33:47+00:00  BBCNews
3    2011-04-30 21:06:09+00:00  BBCNews
4    2011-04-30 19:30:00+00:00  BBCNews
...                        ...      ...
2677 2011-04-01 02:30:57+00:00  BBCNews
2678 2011-04-01 02:30:57+00:00  BBCNews
2679 2011-04-01 01:59:46+00:00  BBCNews
2680 2011-04-01 01:28:42+00:00  BBCNews
2681 2011-04-01 00:58:20+00:00  BBCNews

                                                  Tweet
0                 Breathing is fun http://bbc.in/lMZUua
1     Nato strike 'kills Gaddafi's son' http://bbc.i...
2     Buffett admits 'mistake' on Sokol http://bbc.i...
3     War historian Richard Holmes dies http://bbc.i...
4     Absent Ahmadinejad prompts debate http://bbc.i...
...                                                 ...
2677  Japan sentiment up, threat looms http://bbc.in...
2678  Secure unit beds 'being blocked' http://bbc.in...
2679  Fierce battle in Ivory Coast city http://bbc.i...
2680  Argentine torture general jailed http://bbc.in...
2681  Midwife shortage 'costs 1m lives' http://bbc.i...

[2682 rows x 3 columns]

In [38]:
Headlines['User'].value_counts()

guardian          5499
washingtonpost    5495
BBCNews           4256
nytimes           4009
DailyMailUK       3734
thetimes          1868
Name: User, dtype: int64

In [39]:
Headlines

,Date,User,Tweet
0,2019-04-30 23:59:03+00:00,washingtonpost,Opinion: Republicans want Trump to give up on ...
1,2019-04-30 23:47:03+00:00,washingtonpost,We asked the experts what makes a great fighti...
2,2019-04-30 23:46:02+00:00,washingtonpost,A high-ranking lawyer claims her CEO directed ...
3,2019-04-30 23:24:22+00:00,washingtonpost,"University shooting leaves 2 dead, others with..."
4,2019-04-30 23:20:06+00:00,washingtonpost,"Ady Barkan, activist with ALS, testifies in fa..."
...,...,...,...
2677,2011-04-01 02:30:57+00:00,BBCNews,"Japan sentiment up, threat looms http://bbc.in..."
2678,2011-04-01 02:30:57+00:00,BBCNews,Secure unit beds 'being blocked' http://bbc.in...
2679,2011-04-01 01:59:46+00:00,BBCNews,Fierce battle in Ivory Coast city http://bbc.i...
2680,2011-04-01 01:28:42+00:00,BBCNews,Argentine torture general jailed http://bbc.in...
2681,2011-04-01 00:58:20+00:00,BBCNews,Midwife shortage 'costs 1m lives' http://bbc.i...

In [40]:
# code taken from here: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html
from pathlib import Path  
filepath = Path('/Users/douglaswood/Documents/Postgraduate/Dissertation/Headlines.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
Headlines.to_csv(filepath)